/* common css */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
a {
  text-decoration: none;
  /*去掉超链接下划线*/
}

ul {
  list-style: none;
}

body {
  font: 13px/1.8 -apple-system, 'SF UI Text',Arial,'PingFang SC','Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
  /* 哪里的字最多，我们就把这个字体设为通用样式。 */
  color: #444
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.layout {
  width: 950px;
  margin-right: auto;
  margin-left: auto;
}
/*
这几行代码是为了水平”居中“，但在通用样式里边，我们一般不要去设 margin-top 的值，
因为后边如果特定样式需要设置这个值，我们再单独拿出来设置就可以了。
*/
