/* navbar */
header {
  box-sizing: content-box;
  padding: 0 20px;
  height: 56px;
  line-height: 56px;
  border-bottom: 1px solid #eee;
  /*
  header 的高度可以写一个固定的高度，也可以由内容去撑开。
  但当前的场景下，写一个固定的高度比较合适。因为由内容去撑开的话，很容易导致上下的缝隙不太合适。
  如果写一个固定的 height，然后 line-height 等于这个 height，
  那很容易就实现里边的整个元素都处于这个区域的正中心。
  */
  /*
  但要注意：由于继承性，它的子元素也会去继承 line-height 等于 56px，故若子元素有特别需要，
  要单独设置 line-height 的值。
  */
}

header:after {
  content: "";
  display: block;
  clear: both;
  /*
  给 header 清除浮动，当然也可以在 HTML 文档中给 header 加一个类 clearfix，
  用通用样式清除浮动。之所以我们加在这里，主要是为了“好看”！
  */
}

header .logo {
  float: left;
  height: 56px;
}
header .logo > img {
  height: 50px;
  /* 由于 header 一开始就设置了 height=line-height，故 logo 的高度设置好后，宽度就自适应了。 */
}
header .navbar {
  float: left;
}
header .navbar a {
  display: block;
  /*
  由于要使 a 链接可点击范围变大，所以要加 padding，但单就 a 链接来说，它是”行内元素“，
  是不能加 padding 的，所以要使其显示为“block”。
  */
  height: 56px;
  /*
  加了 padding，如果不加高度的话，很容易导致上下 padding 不知道是多少。
  所以加一个 height ——和我们 header 相应的值相等。
  */
  padding: 0 10px;
  font-size: 17px;
  color: #333;
}
header .navbar a:hover {
  background-color: #eee;
}
header .navbar .active a {
  color: #e86f5e;
}
header .navbar .active a:hover {
  background-color: #fff;
  /*
  由于处于 active 状态的“发现”，当鼠标放上去时，是没有背景色的，但如果只加这个白色，
  那么“白色”会覆盖下边的“边框”，故必须在上边写上以下代码（看上边对应的符号“❗️”）：
    header {
      box-sizing: content-box;
    }
  */
}

header .navbar > li .tip {
  position: absolute;
  top: 10px;
  right: -8px;
}
header .navbar > li {
  position: relative;
  float: left;
  padding: 0 4px;
  /*
  给 li 加点 padding，可以使两个可点击的按钮中间有一个缝。
  当然，要实现这个功能，给 li 加 margin 或给 a 加 margin 也可以。
  */
}
header .navbar .child {
  position: absolute;
  z-index: 1;
  display: none;
  width: 120px;
  line-height: 40px;
  background-color: #fff;
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.1);
  /* x 偏移量 | y 偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
}
header .navbar .child a {
  line-height: 40px;
}
header .navbar .child .tip {
  position: absolute;
  top: 10px;
  right: 10px;
}


/* search area */
header .search {
  position: relative;
  float: left;
  margin-left: 30px;
}
header .search input {
  width: 200px;
  padding: 0 20px;
  font-size: 15px;
  line-height: 36px;
  background-color: #eee;
  border: none;
  border-radius: 18px;
  outline: none;
  transition: all .3s;
  /* 让鼠标在它身上操作的时候，它的变化是缓慢的。 */
  /*
  💡transition 可以用来定义“转场”的“过渡”效果，语法为：
  transition: property duration timing-function delay;

  注释：1property 用于指定 CSS 属性的 name，transition 效果；
        2duration 用于指定 transition 效果需要多少时间才能完成；
        3timing-function 用于指定 transition 效果的转速曲线；
        4delay 用于定义 transition 效果开始的时候。
  */
}
header .search input:focus {
  width: 240px;
}
header .search input:focus ~ .search-panel {
  display: block;
}
header .search input:focus ~ .icon-search {
  color: #fff;
  background-color: #969696;
}
header .search .icon-search{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  color: #aaa;
  line-height: 32px;
  /* 样式进行重置，height=line-height 实现字体图标在设置的盒子里“垂直居中”。 */
  text-align: center;
  border-radius: 50%;
}
header .search-panel {
  position: absolute;
  z-index: 1;
  display: none;
  width: 250px;
  padding: 16px;
  line-height: 1;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.1);
}
header .search-panel:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 30px;
  display: block;
  width: 14px;
  background-color: #fff;
  transform: rotateZ(45deg);
  box-shadow: -2px -2px 2px -2px rgba(0, 0, 0, 0.1);
}
header .search-panel h3 {
  color: #888;
  font-weight: normal;
}
header .search-panel .change {
  float: right;
  font-size: 13px;
  font-weight: normal;
  color: #888;
}
header .search-panel .labels {
  margin-top: 10px;
}
header .search-panel .label {
  float: left;
  margin: 10px 10px 0 0;
  padding: 2px 4px;
  color: #888;
  border: 1px solid #ccc;
  border-radius: 4px;
}
header .search-panel .label:hover {
  border-color: #888;
}


/* extra */
header .extra {
  float: right;
}
header .extra a {
  color: #333;
}
header .extra .icon-textsize {
  float: left;
  font-size: 30px;
  color: #333;
}
header .extra .user {
  position: relative;
  float: left;
  margin-left: 20px;
  padding: 0 10px;
}
header .extra .user:hover {
  background-color: #eee;
}
header .extra .child {
  position: absolute;
  left: 0;
  display: none;
  width: 160px;
  line-height: 54px;
  background-color: #fff;
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, .1);
}
header .extra .child a:hover {
  background-color: #eee;
}
header .extra .avatar {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50%;
}
header .extra .icon-down {
  vertical-align: middle;
}
header .extra .action-write {
  float: left;
  margin: 10px 0 0 20px;
  padding: 10px 20px;
  font-size: 15px;
  line-height: 1;
  color: #fff;
  background-color: #e56e5d;
  border-radius: 30px;
}